<div class="content">
  <div class="card">
    <div class="card-content">
      <div class="input-field">
        <input id="todoInout" type="text" class="validate">
        <label for="todo">Add a Todo</label>
      </div>
    </div>
    <div class="card-action">
      <a id="createButton" class="waves-effect waves-light btn">Add Todo</a>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <div class="card-title">Active Todos</div>
      <ul class="collection">
        <li class="collection-item">Alvin</li>
      </ul>
    </div>

  </div>
</div>