<div class="content">
  <div class="card">
    <div class="card-content">
      <div class="input-field">
        <input id="todoInput" type="text" class="validate">
        <label for="todo">Add a Todo</label>
      </div>
    </div>
    <div class="card-action">
      <a id="createButton" class="waves-effect waves-light btn">Add Todo</a>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <div class="card-title">
        Active Todos
        <a id="readButton" class="waves-effect waves-light btn float-right">
          <i class="fas fa-sync"></i> Refresh
        </a>
      </div>

      <ul id="todoList" class="collection"></ul>
      <small>> You can click on an item to delete it</small>
    </div>
  </div>
</div>